@import '@skeletonlabs/skeleton/themes/theme-sahara.css';
@import '@skeletonlabs/skeleton/styles/all.css';

:root {
    --theme-font-color-base: 143 35 27;
    /* --on-primary: 0 0 0; */
    /* primary | #ef3b2d */
    /* ⬅ #fde2e0 */
    /* --color-primary-50: 253 226 224;  */
    /* ⬅ #fcd8d5 */
    /* --color-primary-100: 252 216 213;  */
    /* ⬅ #fbcecb */
    /* --colo/r-primary-200: 251 206 203;  */
    /* ⬅ #f9b1ab */
    /* --color-primary-300: 249 177 171;  */
    /* ⬅ #f4766c */
    /* --color-primary-400: 244 118 108;  */
    /* ⬅ #ef3b2d */
    /* --color-primary-500: 239 59 45;  */
    /* ⬅ #d73529 */
    /* --color-primary-600: 215 53 41;  */
    /* ⬅ #b32c22 */
    /* --color-primary-700: 179 44 34;  */
    /* ⬅ #8f231b */
    /* --color-primary-800: 143 35 27;  */
    /* ⬅ #751d16 */
    /* --color-primary-900: 117 29 22;  */
}

.inter {
    font-family: 'Inter', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.modal-footer {
    @apply mt-5;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

figcaption {
    @apply text-sm italic mt-1;
}
a.no-underline {
    @apply !no-underline;
}
.page-padding {
    @apply mt-28 mb-12;
}
.page-top-padding {
    @apply mt-28;
}
