@import 'sweetalert2/dist/sweetalert2.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Poppins', sans-serif;
	@apply min-h-screen font-light bg-primary-50 dark:bg-primary-900;
}

body, p, h1, h2, h3 {
	@apply  text-primary-900 dark:text-primary-100;
}
.title {
	@apply  text-primary-800 dark:text-primary-200;
}

.prata {
	font-family: 'Prata', serif;
}
.inter {
    font-family: 'Inter', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}

.text-error,
.text-danger, .form-error {
	@apply text-xs py-2 text-red-500 dark:text-red-600 leading-tight;
}
.form-error {
   @apply text-right;
}
.checkbox {
    @apply ml-2 text-sm font-medium text-gray-900 dark:text-gray-300
}


figcaption {
    @apply text-sm italic mt-1;
}
a {
    @apply no-underline underline-offset-4  hover:underline text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-300;
}
.page-padding {
    @apply mt-28 mb-12;
}
.page-top-padding {
    @apply mt-28;
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}



/* ========== Table =========== */
.table-responsive {
    @apply overflow-x-auto relative shadow-md sm:rounded-lg;
}
table {
    @apply w-full text-sm text-left rounded text-gray-500 dark:text-gray-400;
}
table caption {
    @apply p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800;
}

table caption p {
    @apply mt-1 text-sm font-normal text-gray-500 dark:text-gray-400;
}

table thead,
table tfoot {
    @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-[#2c3543] dark:text-gray-400;
}

table thead tr td,
table thead tr th,
table tfoot tr td,
table tfoot tr th {
    @apply py-3 px-6;
}
table tbody tr {
    @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700;
}
table tbody tr th {
    @apply py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white;
}
table tbody tr td {
    @apply py-4 px-6;
}
table .actions {
    @apply flex gap-2;
}



/* =========== modal ================= */
.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 10;
}
.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;

	/* allow click-through to backdrop */
	pointer-events: none;
}
.modal-content-container {
	@apply relative w-full h-full max-w-2xl md:h-auto;
	pointer-events: auto;
}
.modal-content-container.modal-lg {
    @apply max-w-5xl;
}
.modal-content-container.modal-sm {
    @apply max-w-lg;
}
.modal-content {
	@apply relative bg-white rounded-lg shadow dark:bg-gray-700;
}
.modal-header {
	@apply flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600;
}
.modal-title {
	@apply text-xl font-semibold text-gray-900 dark:text-white;
}
.modal-close {
	@apply text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white;
}
.modal-body {
	@apply p-6 space-y-6;
}
.modal-footer {
	@apply mt-3 p-6 space-y-6 border-t border-gray-600 flex justify-end items-baseline gap-3;
}


/* =========== scrollbar ================= */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #e3c7fc;
}
::-webkit-scrollbar-thumb:hover {
    background: #b874f8;
    border-radius: 10px;
}
.scrollbar-hidden::-webkit-scrollbar {
    /* display: none; */
    width: 0px;
}
.dark ::-webkit-scrollbar-thumb {
    background: #6e4695;
}

.seva-fields.formkit-fields .formkit-field {
    flex:2 !important;
    margin-right:20px !important;
}
.seva-fields.formkit-fields .formkit-submit {
    flex: 1 !important;
}
